<h1>Welcome#index</h1>
<p>Encuentrame Encuentrame app/views/welcome/index.html.erb</p>
<p>Acabo de modificar el archivo
app/views/welcome/index.html.erb</p>
<h2>Hola Mundo!!</h2>
<h3><%= Time.now.strftime("%d/%m/%Y %H:%M") %></h3>
(c)Copyright <%= Time.now.year %>
<% if Time.now.year >= 2018 %>
 <p> Versión 2.0 </p>
<% else %>
 <p> versión 1.0 </p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class="card" style="width: 18rem;">
  <!--<img class="card-img-top" src="../app/assets/images/descarga.svg" alt="Card image cap">-->
  <%= image_tag "descarga.svg", class: "card-img-top", height: 300 %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>